.custom-header {
    background-image: url(green.avif);
    background-position: center center;
    background-size: cover;
}

.custom-dark-glow {
    color:white;
    text-shadow:1px 1px 10px #000, 1px 1px 10px rgb(29, 29, 29);
}

body {text-align:center;}

h1, h2 {
    font-family: 'Gentium Book Plus', serif;
}

h3 {
 margin-top: 3rem;
 margin-bottom: 2rem;
 font-family:'Times New Roman', Times, serif;
}

.my-custom-color {background-color: #63B7B7}

.tab-content > .active {
    display: block;
    background-color:#fff;
    padding-bottom: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

 .nav-link:hover {
    color:#fff;
  }
  
  .nav-link { 
      color:#fff;
  }

  #about {
    padding-top: 65px;
  }

  #classes{
    padding-top: 65px;
  }

  #interests{
    padding-top: 55px;
  }

  .Mepic{
    border: 5px solid#63B7B7;
    border-radius: 4px;
  }

  .nav-tabs .nav-link {
    color: #000; /* Set text color to black or another suitable color */
    background-color: #fff; /* White background */
    border: 1px solid lightgray; /* Optional: Add border to match the white background */
}

.nav-tabs .nav-link:hover {
    background-color: #f1f1f1; /* Light grey background on hover */
    color: #000; /* Keep text color dark on hover */
}
